<div class="md:w-[60%] mx-auto ">
  @if(!articles){
    <div class=""> Nothing is posted yet. be the first to post 😀 </div>
  }@else if (articles.length){
    @for(article of articles ; track $index ){
      <app-article [article]="article" [owner]="getUser(article.owner)"></app-article>
    }
  }@else if(!error){
    <div class="flex flex-col justify-center h-[400px]">
      <mat-spinner color="#4caf50" diameter="80" class="w-5 mx-auto" style="stroke:#4caf50"> </mat-spinner>
      <div class="text-center text-zinc-500" >Fetching you articles...</div>

    </div>

  }@else {
    <div class="flex flex-col justify-center h-[300px]">
      <div class="text-red-500 text-[20px] text-center"> {{error}} </div>
      <div class="flex justify-center"><button class="bg-blue-900 rounded-xl p-2 text-white mx-auto" (click)="retry()"> Rrefresh... </button></div>
    </div>
  }

</div>
