<div class="md:w-[60%] mx-auto ">
  @if(!articles){
    <div class=""> Nothing is posted yet. be the first to post 😀 </div>
  }@else if (articles.length){
    @for(article of articles ; track $index ){
      <app-article [article]="article"></app-article>
    }
  }@else {
    <div class="flex flex-col justify-center h-[400px]">
      <mat-spinner color="#4caf50" diameter="80" class="w-5 mx-auto" style="stroke:#4caf50"> </mat-spinner>
      <div class="text-center text-zinc-500" >Fetching you articles...</div>

    </div>

  }

<!--   <div class="mx-auto">
    <mat-spinner  class="w-5"> </mat-spinner>
    <div >fetching you articles...</div>
  </div> -->
</div>
