<app-container title="Sign In">
    <form class="signin-form">
      <!-- Email/Username Input -->
      <div class="form-group">
        <label for="email">Email or Username</label>
        <input
          type="text"
          id="email"
          name="email"
          placeholder="Enter your email or username"
        />
      </div>

      <!-- Password Input -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password"
        />
        <a href="#" class="forgot-password">Forgot password?</a>
      </div>

      <!-- Buttons -->
      <div class="buttons-container">
        <button type="submit" class="btn btn-signin" (click)="signIn()">Sign In</button>
        <button type="button" class="btn btn-signup" (click)="navigateToSignUp()" >Sign Up</button>
      </div>
    </form>
</app-container>
