<div class="article bg-zinc-800 rounded-md ">
  <div class="flex flex-col">
    <!-- Article Header -->
    <div class="flex">
      <app-user-card-mini [icon]="true" [name]="false" [user]="user"></app-user-card-mini>
      <div class="bg-zinc-600 w-full rounded-lg p-1">
        <div class="text-slate-300 ">
          <div class="flex justify-between">
            <app-user-card-mini [name]="true" [user]="user"></app-user-card-mini>
            {{ article.createdAt | date }}
          </div>
          <hr class="pb-1" />
          <p>{{ article.content }}</p>
          @if (article.images.length){
            <hr />
            <div class="image-gallery p-2">
              @for(image of article.images; track $index){
                <img [src]="image | base64ToBlob" alt="Article image" class="article-image " />
              }
            </div>
          }
        </div>
      </div>
      </div>
    </div>

  <!-- Article Comments -->
   <div class="pl-4 rounded-b-2xl border-l-[1px] border-white">
      <div class="article-comments  " >
        @for (comment of article.comments ; track $index){
          <div class="comment">
            <app-comment [article]="comment" [canComment]="false"></app-comment>
          </div>
        }
      </div>

     @if(canComment){
       <form [formGroup]="commentForm" (ngSubmit)="onSubmit()" class=" flex flex-row gap-3 pt-3">
         <div class="w-full" >
        <textarea
          id="content"
          formControlName="content"
          class="w-full p-2 rounded bg-zinc-800 text-slate-300 border border-zinc-600 focus:border-blue-500 focus:outline-none "
          placeholder="reply to this comment "
        ></textarea>
         </div>

         <div class="flex flex-col justify-center">
           <button
             type="submit"
             [disabled]="commentForm.invalid"
             class="bg-blue-500 text-white h-[40px] px-4 rounded  hover:bg-blue-600 transition duration-200 disabled:bg-gray-400"
           >
             Reply
           </button>
         </div>
       </form>
     }

  </div>
   </div>
