<br>
<hr>
  <div class="container mx-auto text-center py-5">

    <div class="mb-5">
        <img src="/logo/coloredLogo.png" alt="Logo" class="logo mx-auto">
        <img src="/logo/nameLogo.png" alt="Logo" class="name mx-auto">
    </div>

    <div>
      <p class="text-gray-600">© 2025 PostSphere . All Rights Reserved.</p>
    </div>

    <div >
      <p>Developed as part of an academic project at INSAT.</p>
    </div>

    <div >
      <p>Team: Mohamed Yessine Ellini, Mohamed Aziz Balti, Ghassen Cherif, Naoures Bzeouich, Omar Mejdi, Ahmed Silini</p>
    </div>
  </div>

