<hr>
  <div class="container mx-auto flex justify-between items-center text-sm flex-wrap py-5">

    <div class="flex-1 text-center lg:text-left lg:flex-none">
      <p class="text-gray-600">© 2025 . All Rights Reserved.</p>
    </div>

    <div class="flex-1 text-center lg:text-center lg:flex-none">
      <p>Developed as part of an academic project at INSAT.</p>
    </div>

    <div class="flex-1 text-center lg:text-right lg:flex-none">
      <p>Team: Mohamed Yessine Ellini, Mohamed Aziz Balti, Ghassen Cherif, Naoures Bzeouich, Omar Mejdi, Ahmed Sellini</p>
    </div>
  </div>

