<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand text-white">WebSiteLogo</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active "
             aria-current="page"
             [routerLink]="['']"
             [routerLinkActiveOptions]="{ exact: true }"
             routerLinkActive="active text-danger"
          >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "
             [routerLink]="['/thematic']"
             [routerLinkActiveOptions]="{ exact: true }"
             routerLinkActive="active text-danger"
          >Thematic</a>
        </li>
      </ul>

      <ul class="navbar-nav me-auto  input-container">
        <i class="bi bi-search search-icon"></i>
          <input class="form-control bg-black text-white" type="search" placeholder="Search" aria-label="Search">
      </ul>

      <ul class="navbar-nav me-2">
        <li class="nav-item">
          <i class="bi bi-bell-fill nav-link "
             [routerLink]="['/notification']"
             [routerLinkActiveOptions]="{ exact: true }"
             routerLinkActive="active text-danger"
          ></i>
        </li>
        <li class="nav-item">
          <button class="btn btn-danger "
                  (click)="navigateToSignIn()"
          >
            sign in
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
