<nav class="bg-black flex flex-row w-full h-[70px]">
  <div class="flex flex-row justify-start w-full">
    <div class="flex felx-row">
      <a>
        <img
          src="/logo/coloredLogo.png"
          alt="Logo"
          class="navbar-logo object-scale-down"
        />
      </a>
      <a>
        <img
          src="/logo/nameLogo.png"
          alt="Logo"
          class="navbar-logo object-scale-down "
        />
      </a>
    </div>

    <div class="flex flex-row justify-start w-full p-2" id="navbarSupportedContent">
      <a
      class="nav-link active px-4 my-auto"
      aria-current="page"
      [routerLink]="['']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active text-danger"
      >Home</a>
      <a
          class="nav-link my-auto"
          [routerLink]="['/thematic']"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active text-danger "
          >Thematic</a
        >

      <div class="flex flex-row justify-between w-full">
        <ul class="navbar-nav me-auto input-container m-auto">
          <i class="bi bi-search search-icon"></i>
          <input
            class="bg-black text-white form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </ul>

        <ul class="my-auto flex flex-row">
          @if (!authService.isAuthenticated()) {
          <li class="nav-item ">
            <button class="btn btn-danger signin" [routerLink]="['signin']">
              Sign in
            </button>
          </li>
          } @else {
          <li class="nav-item">
            <i
              class="bi bi-bell-fill nav-link pt-2"
              [routerLink]="['/notification']"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active text-danger"
            ></i>
          </li>
          <li class="nav-item">
            <i
              class="bi bi-person-circle nav-link pt-2"
              [routerLink]="['/profile']"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active text-danger"
            ></i>
          </li>

          <li class="nav-item">
            <button class="btn btn-danger signout" (click)="signout()">
              Sign out
            </button>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
</nav>
