<div class="article bg-zinc-800 rounded-md ">
  <!-- Article Header -->
  <div class=" text-slate-300">
    Commented at: {{article?.createdAt | date }}
    <hr class="pb-3"/>

    <p class="">{{ article?.content }}</p>
  </div>


  @if (article?.images?.length){
    <hr/>
    <div class="image-gallery">
      @for(image of article?.images ; track $index){
        <img  [src]="image | base64ToBlob" alt="Article image" class="article-image" />
      }
    </div>
  }

  <!-- Article Vote Counts -->





  <!-- Article Comments -->
  @if(article?.comments?.length){
    <div class="article-comments">
      <h4>Replies:</h4>
        @for(comment of article?.comments; track $index){

        <div class="comment">
          <app-comment [article]="comment"> </app-comment>
        </div>
      }

    </div>
  }

</div>
