<div
  class="user-card p-1 rounded-lg flex items-center gap-4"
  [class.loading]="true"
>
  <!-- Profile Picture -->
  <div
    class="profile-picture w-16 h-16 rounded-full flex justify-center items-center overflow-hidden"
  >
    @if (user()){
      <ng-container >
        <a
          [routerLink]="'/profile/' + user()?.id"
          class="text-lg font-medium hover:underline"
        >
        <img
          [src]="user()?.image"
          alt="Profile picture of {{ user()?.name }}"
          class="w-full h-full object-cover"
        />
        </a>
      </ng-container>
    }
    @else{
      <div class="loader-circle w-16 h-16 rounded-full"></div>

    }

  </div>

  <!-- User Details -->
  <div class="user-details flex flex-col">
    @if(user()){
      <ng-container >
        <a
          [routerLink]="'/profile/' + user()?.id"
          class="text-lg font-medium hover:underline"
        >
          {{ user()?.name }} {{ user()?.lastName }}
        </a>
        <p class="text-sm text-gray-500">{{ user()?.username }}</p>
      </ng-container>
    }@else {

      <div class="name-placeholder w-32 h-6 mb-2 loader-circle rounded"></div>
      <div class="username-placeholder w-24 h-4 loader-circle rounded"></div>
    }


  </div>
</div>
