<div class="fixed z-50 inset-0 flex items-center justify-center bg-black bg-opacity-75 backdrop-blur-sm" (click)="close()">
    <div class="bg-black p-6 rounded-lg border shadow-lg w-1/2 h-2/3" (click)="$event.stopPropagation()">

      <div class="row px-5">

        <i class="col-1 bi bi-search py-1"></i>
        <input
            class="col search-input bg-black rounded-3xl text-white form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
            [(ngModel)]="searchTerm"
            (ngModelChange)="onSearchChange()"
          />
      </div>

      <div class="row py-2">
        <button
          class="col text-center text-gray-600"
          (click)="userSearch()"
          [ngStyle]="{'color': userBtnColor }"
        >
          search for users</button>

        <button
          class=" col text-center text-gray-600"
          (click)="articleSearch()"
          [ngStyle]="{'color': artcileBtnColor }"
        >
          search for articles</button>
      </div>



      <div class="h-[80%] w-[100%]  rounded-md overflow-y-auto p-4">

        @if(loading){
              <div class="flex flex-col justify-center h-[200px]">
                <mat-spinner
                  color="#4caf50"
                  diameter="80"
                  class="w-5 mx-auto"
                  style="stroke: #4caf50"
                >
                </mat-spinner>
                <div class="text-center text-zinc-500"></div>
              </div>
            }
        @else{

            @if(isUserSearch){
            @for(user of users() ; track $index){
              <app-user-card [user]="user" (click)="close()"> </app-user-card>
            }@empty{
              @if (searchTerm != ''){
                <div class="py-10 text-gray-600 text-3xl ">
                  there's no users found !
                </div>
              }
            }

            }@else{
              @for(article of articles() ; track $index){
                <hr>
                <div class="row px-3 py-2" (click)="navigateToArticle(article.id)">
                  <p class="font-bold text-2xl text-gray-500">{{ article.title }}</p>
                  <p class="text-sm ">{{ article.createdAt | date }}</p> </div>
                <hr>
              }@empty{
                @if (searchTerm != ''){
                  <div class="py-10 text-gray-600 text-3xl ">
                    there's no blogs found !
                  </div>
                }
              }

            }


        }





      </div>

    </div>
</div>

