<div class="article bg-zinc-800 my-4 rounded-md p-6">
  <!-- Always show user card and date -->
  <div class="flex flex-row justify-between">
    <div class="flex flex-col">
      @if (owner) {
        <app-user-card class="" [user]="owner | async " (click)="$event.stopPropagation()"></app-user-card>
      }
      <div class="text-slate-300 my-auto">{{ article()?.createdAt | date }}</div>
    </div>

    @if(showExitBtn()){
      <div class="flex">
        <i class="bi bi-x-lg go-back p-4"
           [routerLink]="['']"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active text-danger"
        ></i>
      </div>
    }


  </div>

  <!-- Article Header -->
    <div class="text-slate-300">
      <h2 class="text-[50px] font-bold">{{ article()?.title }}</h2>
      <hr class="pb-3" />
      <p class="">{{ article()?.content }}</p>
    </div>


  <!-- Always show images -->
  @if (article()?.images?.length) {
    <nz-carousel [nzEffect]="effect" (click)="$event.stopPropagation()">
      @for (image of article()?.images; track image) {
        <div nz-carousel-content>
          <img [src]="image | base64ToBlob" alt="Article image" class="article-image" />
        </div>
      }
    </nz-carousel>
    <hr />

  }

    <!-- Article Vote Counts -->
    @if(article()?.content){
  <app-voting
    [numberOfDislike]="article()?.downvotes ?? 0"
    [numberOfLike]="article()?.upvotes ?? 0"
    [voters]="article()?.voters ?? []"
    (onLike)="upvote()"
    (onDislike)="downvote()"
    (click)="$event.stopPropagation()"
  >
  </app-voting>
    }

  <!-- Display the full article if showComment is true -->
  @if (showComment()) {

      <h4>Comments:</h4>
      <div class="article-comments border-1 border-slate-100 p-2 rounded-xl">
        @for (comment of comments(); track comment) {
          <div class="comment">
            <app-comment [article]="comment" [canComment]="authService.isAuthenticated()"></app-comment>
          </div>
        }
        <!-- Add Comment Form -->

        <div>
          @if (authService.isAuthenticated()){
            <app-add-comment
              [articleId]="article()?.id"
              (commentAddedEvent)="addComment($event)"
            >
            </app-add-comment>
          }
        </div>

      </div>
  }
</div>
