.voting-container {
  padding: 10px;
  display: flex;
  align-items: center;
}

.voting-item-dislike {
  padding-top: 20px;
}

.like {
  font-size: 2.5rem;
  color: #28a745; /* Green color for like icon */
}

.dislike {
  font-size: 2.5rem;
  color: #ff0000; /* Red color for dislike icon */
}
.voting-number{
  background-color: #444444;
  margin: 2px;
  border-radius: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px ;
  padding-right: 10px ;
}
