<div class="article bg-zinc-800 my-4 rounded-md p-6 ">
  <div class="flex flex-col">
    <app-user-card class="" [user]="article()?.ownerObject??null"> </app-user-card>
    <div class="text-slate-300 my-auto" >{{article()?.createdAt | date }}</div>
  </div>
  <!-- Article Header -->
  <div class=" text-slate-300">
    <h2 class="text-[50px] font-bold">{{ article()?.title }}</h2>


    <hr class="pb-3"/>

    <p class="">{{ article()?.content }}</p>
  </div>

  <!-- Article Owner Info -->
<!--   <div class="article-owner">
    <img [src]="article.owner.image" alt="{{ article.owner.username }}'s profile picture" class="profile-picture" />
    <span class="owner-name">{{ article.owner.username }}</span>
  </div> -->

  <!-- Article Images -->
  @if (article()?.images?.length){
    <hr/>
    <div class="image-gallery">
      @for(image of article()?.images ; track $index){
        <img  [src]="image | base64ToBlob" alt="Article image" class="article-image" />
      }
    </div>
  }

  <!-- Article Vote Counts -->
  <app-voting
    [numberOfDislike]="article()?.downvotes ?? 0"
    [numberOfLike]="article()?.upvotes ?? 0"
    [voters]="article()?.voters ?? []"
    (onLike)="upvote($event)"
    (onDislike)="downvote($event)"
  >
  </app-voting>

  <!-- these are just to test and to see how to use the voting thkss -->
  <app-voting
    [numberOfDislike]="test1"
    [numberOfLike]="test2"
    [voters]="[]"
    (onLike)="upvote2($event)"
    (onDislike)="downvote2($event)"
  >
  </app-voting>


  <!-- Article Comments -->
  @if(article()?.comments?.length){
    <h4>Comments:</h4>
    <div class="article-comments border-1 border-slate-100 p-4 rounded-xl">
        @for(comment of article()?.comments; track $index){

        <div class="comment">
          <app-comment [article]="comment"> </app-comment>
        </div>
      }

    </div>
  }

</div>
