.article {
}

.article-header h2 {

}

.content-text {
  font-size: 16px;
  color: #555;
}

.article-owner {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.owner-name {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.article-images {
  margin-top: 15px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.article-image {
  width: 100%;
  margin: auto;
  height: 400px;
  object-fit: cover;
  border-radius: 4px;
  z-index: -100;
}

.article-votes {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.article-votes button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.article-votes button:hover {
  background-color: #0056b3;
}

.article-comments {
  margin-top: 20px;
}

.comment {
  /* border-top: 1px solid #eee; */
  padding: 10px 0;
}

.comment:last-child {
  /* border-bottom: 1px solid #eee; */
}


.user-card {
  /* transition: background-color 0.3s ease-in-out; */
}

.user-card.loading {
  /* background-color: #f9f9f9; */
  /* animation: pulse 1.5s infinite; */
}

.loader-circle {
  animation: pulse 1.5s infinite;
}

.name-placeholder,
.username-placeholder {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f067;
  }
  100% {
    background-color: #e0e0e0;
  }
}
