<app-container title="Sign Up" width="800px" maxHeight="650px">
  <form [formGroup]="form" (ngSubmit)="signUp()" class="signup-form">
    <div class="row">
      <div class="col">
        <!-- First Name -->
        <div class="form-group">
          <label for="firstName">First Name :</label>
          <input
            type="text"
            id="firstName"
            name="firstName"
        formControlName="name"
        placeholder="Enter your first name"
      />
    </div>
      </div>
      <div class="col">
    <!-- Last Name -->
    <div class="form-group">
      <label for="lastName">Last Name :</label>
      <input
        type="text"
        id="lastName"
        name="lastName"
        formControlName="lastName"
        placeholder="Enter your last name"
      />
    </div>
      </div>
      <div class="text-danger small"><br>
      </div>
    </div>
    <!-- Username -->
    <div class="form-group">
      <label for="username">Username :</label>
      <input
        type="text"
        id="username"
        name="username"
        formControlName="username"
        placeholder="Enter your username"
      />

      <!-- Display validation errors -->
      @if (form.get('username')?.pending){
        <div class="text-info small"> Checking username availability... </div>
      } @else {
        @if(form.get('username')?.hasError('usernameTaken')){
          <div class="text-danger small"> Username is already taken. </div>
        }
        @else{
          <div class=" small"><br></div>
        }
      }

    </div>


    <!-- Email -->
    <div class="form-group">
      <label for="email">Email :</label>
      <input
        type="text"
        id="email"
        name="email"
        formControlName="email"
        placeholder="Enter your email"
      />
    </div>
    <!-- Display validation errors -->
    @if(form.get('email')?.touched){
      @if(form.get('email')?.hasError('email')){
        <div class="text-danger small">Enter a valid email!</div>
      }
      @else{
        @if(form.get('email')?.pending){
          <div class="text-info small">Checking email availability...</div>
        }
        @else{
          @if(form.get('email')?.hasError('emailTaken')){
            <div class="text-danger small">Email is already taken.</div>
          }
          @else{
            <div class="small"><br></div>
          }
        }
      }
    }
    @else{
      <div class="small"><br></div>
    }

    <!-- Password -->
    <div class="form-group">
      <label for="password">Password :</label>
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
        placeholder="Enter your password"
      />
    </div>
    <!-- display errors -->
    @if(form.get('password')?.hasError('minlength') && form.get('password')?.touched){
      <div class="text-danger small">The password must be at least {{minPasswordLength}} characters long.</div>
    }
    @else{
      <div class="small"><br></div>
    }

    <!-- Password check -->
    <div class="form-group">
      <label for="password">Re-enter Password :</label>
      <input
        type="password"
        id="checkPassword"
        name="checkPpassword"
        formControlName="checkPassword"
        placeholder="Re-enter your password"
      />
    </div>

    <!-- Display validation errors -->
    @if(form.hasError('passwordsMismatch') && form.get('checkPassword')?.touched){
      <div class="text-danger small"> Passwords do not match. </div>
    }
    @else{
      <div class="small"><br></div>
    }

    <!-- Buttons -->
    <div class="buttons-container">
      <button
        type="submit"
        class="btn btn-signin"
        [disabled]="isdisabledBtn()"
      >
        Sign Up
      </button>
      <button
        type="button"
        class="btn btn-signup"
        (click)="navigateToSignIn()"
      >
        Sign In
      </button>
    </div>
  </form>
</app-container>
