
<form
  class="md:w-[60%] mx-auto article bg-zinc-800 my-4 rounded-md p-6"
  [formGroup]="form"
>

  <!-- Article Header -->
  <div class=" text-slate-100">
    <div class="row">
      <input
        class="text-[50px] font-bold bg-zinc-800 border-0 placeholder-gray-600"
        placeholder="write here the Blog title "
        formControlName="title"
      >
    </div>
    @if(form.get("title")?.hasError("required") && form.get("title")?.touched ) {
      <div class="text-danger small"> blog title is required to create a blog ! </div>
    } @else {
      <br class="small">
    }
    <hr class="pb-3"/>
    <div class="row">
      <textarea
        class="bg-zinc-800 border-0 placeholder-gray-600"
        placeholder="write here the Blog content"
        formControlName="content"
      ></textarea>
    </div>
    @if(form.get("content")?.hasError("required") && form.get("content")?.touched ) {
      <div class="text-danger small"> blog content is required to create a blog ! </div>
    } @else {
      <br class="small">
    }

  </div>


  <hr class="p-3"/>
  <!-- Article Images -->

  <div class="image-gallery p-3">
    @if(images.length){
      <div class="image-preview grid grid-cols-3 gap-4">
        @for(image of images; track $index){
          <img [src]="image| base64ToBlob" alt="Preview" class="w-full h-32 object-cover rounded">
        }
      </div>
    }
  </div>
  

  <div class=" flex items-center justify-center h-16">
    <button
      class="btn btn-create"
      [disabled]="!form.valid"
      (click)="createBlog()"
    > Edit </button>
  </div>
</form>
