<div class="chat-toggle-wrapper">
  <button class="chat-toggle-button" (click)="toggleChat()">
    <i
      class="fas"
      [class.fa-comments]="!isChatVisible"
      [class.fa-times]="isChatVisible"
    ></i>
  </button>
  <div class="popup-message">Let Me Help You Write your posts</div>
</div>

<div class="chat-container" [class.visible]="isChatVisible">
  <div class="chat-header">
    <h2>PostSphere Chatbot</h2>
  </div>

  <div class="chat-messages" #scrollMe>
    @for (message of messages; track $index) {
    <div
      class="message"
      [class.user-message]="message.role == 'user'"
      [class.bot-message]="message.role == 'assistant'"
    >
      @if(message.role != 'system') {
      {{ message.content }}
      } @if(message.role == 'assistant') {
      <button class="read-button" (click)="readText(message.content)">
        <i class="fas fa-volume-up"></i>
      </button>
      }
    </div>
    }
  </div>

  <div class="chat-input">
    <input
      type="text"
      [(ngModel)]="userInput"
      (keyup.enter)="sendMessage()"
      placeholder="Type your message..."
    />
    <button (click)="toggleVoice()" class="mic-button">
      <i class="fas fa-microphone"></i>
    </button>
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
