<a class="voting-container">

    <button
      class="voting-item-like"
      (click)="likeCliked()"
      [disabled]="!authService.isAuthenticated()"
    >
    @if(isLiked){
        <i class="bi bi-hand-thumbs-up-fill like" ></i>
    }@else{
        <i class="bi bi-hand-thumbs-up like" ></i>
    }
    </button>
  <a class="voting-number">
    {{ likes }}
  </a>

  <button
      class="voting-item-dislike"
      (click)="dislikeCliked()"
      [disabled]="!authService.isAuthenticated()"
    >
      @if(isDisliked){
        <i class="bi bi-hand-thumbs-down-fill dislike" ></i>
      }
      @else{
        <i class="bi bi-hand-thumbs-down dislike" ></i>
      }
    </button>

  <a class="voting-number">
    {{ dislikes }}
  </a>


</a>
